@media (max-width: 1280px) {
    // SECTION HERO

    .header {
        padding-top: 30px;
        background-image: url(../../assets/images/start-screen-gradient-background768.png);
        background-position: center 0px;
        background-size: cover;
    }

    .hero-img {
        display: none;
    }
    .wrapper-img {
        background-image: url(../../assets/images/start-screen-puppy-max-1280.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 569px;
        height: 593px;
        margin-top: 96px;
        margin-left: 140px;
    }

    .hero-wrapper {
        width: 460px;
        margin-top: -28px;
        padding-top: 0px;
    }

    .hero-container {
        min-height: 1165px-90px;
        background-image: url(../../assets/images/start-screen-gradient-background768.png);
        background-position: center -90px;
        background-size: cover;
    }
    .hero-section {
        flex-direction: column;
        align-items: center;
        // height: auto;
    }

    .hero-button {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    //About the shelter/////////
    //About the shelter/////////

    .about-text {
        padding-top: 25px;
    }

    .about-content {
        padding-top: 65px;
    }

    .img-about-pets {
        margin-top: 30px;
        margin-left: -47px;
        margin-bottom: 50px;
    }

    // OUR FRIEND//////
    // OUR FRIEND//////
    .wrapper-our-friend {
        margin-top: 60px;
        width: auto;
    }

    .card:nth-child(4) {
        display: none;
    }

    // HOW YOU CAN HELP/////////
    // HOW YOU CAN HELP/////////

    .wrapper-can-help {
        padding-top: 60px;
    }

    .wrapper-can-help {
        gap: 30px;
    }

    .can-help-item {
        width: 30%;
    }

    // MAKE DONATION//////
    // MAKE DONATION//////

    .img-donation {
        max-width: 505px;
        width: 100%;
        height: auto;
    }

    // footer///////////

    .for-question {
        background-image: url(../../assets/images/footer-gradient-background1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section-for-question {
        justify-content: space-around;
    }

    .footer-adress {
        width: 55%;
    }

    .footer-puppy {
        width: 55%;
        margin-top: 50px;
        background-repeat: no-repeat;
        margin-top: 93px;
        background-position: center;
        // margin: 0 auto;
    }
}

@media (max-width: 768px) {
    // .nav {
    //     display: none;
    // }

    .header-burger {
        display: block;
        z-index: 3;
    }

    .nav-list {
        overflow: hidden;
        display: block;
        position: fixed;
        padding-left: 125px;
        padding-top: 134px;
        max-width: 620px;
        height: 100%;
        top: 0;
        right: 0;
        margin-left: 148px;
        background-color: #000;
        z-index: 3;
        transform: translateX(100%);
        transition: 0.5s;
    }

    .nav-list.active-nav-list {
        transition: 0.5s;
        transform: translateX(0%);
    }

    .nav-item {
        width: 180px;
        padding-bottom: 10px;
        font-size: px;
        line-height: 35.5px;
    }

    .nav-link {
        font-size: 23px;
    }

    .hero-section{
        margin-top: 4px;
    }

    // About the shelter////@at-root

    .about-title {
        padding-bottom: 50px;
    }

    .button-our-friend {
        margin-top: 56px;
    }

    // Our friends///////@at-root

    .title.our-friend {
        max-width: 471px;
    }

    .card-tree {
        display: none;
    }

    .card-name {
        padding-top: 23px;
    }

    .wrapper-our-friend {
        flex-wrap: nowrap;
        gap: 10px;
    }

    // Can Help//////
    // Can Help//////

    .can-help-item {
        width: 27%;
    }

    .wrapper-can-help {
        // padding-left: 10px;
        justify-content: space-around;
        max-width: 630px;
        gap: 53px;
    }

    .img-donation{
        margin-top: 60px;
        margin-bottom: 2px;
    }

    .footer-adress{
        padding-top: 31px;
        margin-left: -22px;
    }

    // .adress{
    //     padding-left: 36px;
    // }
}
