* {
  box-sizing: border-box;
  margin: 0 0;
}

.header-burger {
  display: none;
  width: 30px;
  height: 22px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.burger-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: 0.4s;
}

.burger-line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s;
}

.burger-line:nth-child(3) {
  bottom: 0;
  transition: 0.4s;
}

.active-burger-line:nth-child(1) {
  transition: 0.4s;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.active-burger-line:nth-child(2) {
  transition: 0.4s;
  display: none;
}

.active-burger-line:nth-child(3) {
  transition: 0.4s;
  bottom: 50%;
  transform: translateY(50%) rotate(45deg);
}

@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/Georgia.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/arialmt.ttf);
  font-weight: 400;
}
body {
  font-family: Arial, sans-serif;
  background-color: #e5e5e5;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 60px;
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-repeat: no-repeat;
  background-position: center 0;
}

.header-second {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 30px;
  height: 120px;
  background-color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo-title-text {
  font-family: Georgia, sans-serif;
  color: #f1cdb3;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.2px;
  letter-spacing: 0.06em;
}

.logo-title-text-second {
  color: #545454;
  letter-spacing: 6%;
}

.logo-title-text-text {
  font-family: Arial, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  padding-top: 10px;
  letter-spacing: 10%;
}

.logo-title-text-text-second {
  color: #545454;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 443px;
  padding-left: 0px;
}

.nav-link.nav-link-first {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.nav-link-second-second {
  border-bottom: 3px solid #f1cdb3;
}

.nav-link,
.nav-link-second {
  font-family: Arial, sans-serif;
  font-weight: 400, Regular;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;
  text-decoration: none;
  transition: 0.2s;
}

.nav-link:hover {
  color: #fafafa;
}

.nav-link-second {
  color: #545454;
}

.nav-link-second:hover {
  color: #292929;
}

.hero-container {
  padding-top: 60px;
  height: 789px;
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-position: center -120px;
  margin-top: -1px;
}

.hero-wrapper {
  margin-top: 136px;
  display: flex;
  flex-direction: column;
  width: 460px;
  min-height: 321px;
}

.hero-title {
  max-width: 310px;
  font-family: Georgia, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  line-height: 57px;
  color: #fff;
}

.hero-text {
  padding-top: 11px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.hero-button {
  display: block;
  margin-top: 42px;
  margin-bottom: 0px;
  width: 207px;
  height: 52px;
  border-radius: 100px;
  font-family: Georgia, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  background-color: #f1cdb3;
  border: none;
  transition: 0.2s;
}

button:hover,
.donation-card:hover {
  cursor: pointer;
}

.hero-button:hover,
.button-our-friend:hover,
.card-button:hover,
.button-prev-next:hover,
.donation-card:hover {
  background-color: #fddcc4;
}

.wrapper-img {
  padding-top: 0px;
  max-width: 698px;
  height: 728px;
}

.hero-img {
  width: auto;
  height: auto;
}

.container.about-the-shelter,
.container.can-help {
  background-color: #fff;
}

.section.about-the-shelter {
  min-height: 588px;
  height: auto;
}

.about-content {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
  flex-wrap: wrap-reverse;
  padding-bottom: 50px;
  margin-left: 46px;
}

.img-about-pets {
  display: block;
  background-image: url("");
}

.about-title {
  width: 430px;
  height: auto;
  margin-right: 44px;
}

.title,
.about-heading {
  max-width: 370px;
  padding-top: 14px;
  font-family: Georgia, sans-serif;
  font-size: 35px;
  font-style: normal;
  line-height: 46px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 0.06em;
}

.about-text {
  padding-top: 32px;
  font: Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  color: #4c4c4c;
}

.our-friend {
  background: #f6f6f6;
  padding: 0 30px;
}

.our-friend-second {
  padding-top: 80px;
}

.section-our-friend {
  height: auto;
  min-height: 877px;
}

.section-our-friend-second {
  min-height: 1342px;
}

.title.our-friend {
  margin: 0 auto;
  padding-top: 82px;
  max-width: 488px;
  text-align: center;
  letter-spacing: 10%;
}

.title.our-friend-second {
  padding-top: 80px;
}

.wrapper-our-friend {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
  flex-wrap: wrap;
  gap: 30px;
  width: 1200px;
}

.button-prev-next {
  margin-top: 192px;
  display: block;
  height: 52px;
  width: 52px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  transition: 0.2s;
}

.wrapper-prev-next {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.button-prev-next-second {
  margin-top: 45px;
  margin-left: 20px;
}

.button-prev-next-second-number {
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.card {
  height: 435px;
  width: 270px;
  background-color: #fafafa;
  margin-left: 10px;
}

button.card:first-child {
  margin-right: 5px;
}

.image-card {
  background-color: red;
}

.card:first-child {
  margin-left: 53px;
}

.card-second:first-child {
  margin-left: 0px;
}

.card:last-child {
  margin-right: 53px;
}

.card-second:last-child {
  margin-right: 0px;
}

.card-name {
  padding-top: 30px;
  text-align: center;
  font-family: Georgia, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}

.card-button {
  margin-top: 30px;
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  font-family: Georgia, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: inherit;
  transition: 0.2s;
}

.button-our-friend {
  margin: 60px 0 45px;
  height: 52px;
  width: 261px;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  background-color: #f1cdb3;
  border: 2px solid #f1cdb3;
  color: #292929;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.2s;
}

.section-can-help {
  min-height: 611px;
  height: auto;
}

.title.can-help {
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 6%;
}

.wrapper-can-help {
  padding-top: 140px;
  max-width: 1026px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  row-gap: 55px;
  column-gap: 113px;
  padding-bottom: 100px;
}

.can-help-item {
  width: auto;
  height: 113px;
  display: flex;
  flex-direction: column;
}

.can-help-text {
  padding-top: 30px;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}

.can-help-img {
  margin: 0 auto;
}

.make-donation {
  min-height: 464px;
  background-color: #f6f6f6;
  height: auto;
}

.section-make-donation {
  display: flex;
  padding: 80px 0 100px 0;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.img-donation {
  margin: 12px 30px 11px;
  background-color: inherit;
  margin-left: 0px;
}

.donation-title {
  padding-top: 0px;
}

.about-text-donation {
  font-family: Georgia;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;
  margin-top: 20px;
}

.donation-card {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  width: 349px;
  height: 43px;
  background-color: #f1cdb3;
  align-items: center;
  border-radius: 9px;
  transition: 0.3s;
}

.donation-href {
  text-decoration: none;
}

.number-card {
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}

.donation-text {
  padding-top: 20px;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  width: 380px;
}

.for-question {
  position: relative;
  min-height: 350px;
  height: auto;
  background-image: url(../../assets/images/footer-gradient-background.jpg);
}

.title-for-question {
  color: #fff;
  padding-top: 0px;
  width: 288px;
}

.section-for-question {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -2px;
}

.footer-adress {
  max-width: 278px;
  height: 234px;
  padding-top: 56px;
}

.mailto-email,
.telephon {
  text-decoration: none;
}

.e-mail,
.tel,
.adress {
  position: relative;
  margin-top: 40px;
  max-width: 251px;
  height: 32px;
  color: #f1cdb3;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  padding-left: 60px;
  vertical-align: middle;
  transition: 0.2s;
}

.e-mail:hover,
.tel:hover,
.adress:hover {
  cursor: pointer;
}

.e-mail::before,
.tel::before {
  content: url(../../assets/icons/icon-email.svg);
  position: absolute;
  left: 0px;
  width: 40px;
  height: 32px;
  top: -4px;
}

.tel::before {
  content: url(../../assets/icons/icon-phone.svg);
}

.adress {
  max-width: 302px;
  padding-left: 40px;
}

.adress-link {
  text-decoration: none;
}

.adress::before {
  content: url(../../assets/icons/icon-marker.svg);
  position: absolute;
  left: 0px;
  width: 40px;
  height: 32px;
}

.footer-puppy {
  margin-top: 40px;
  width: 300px;
  height: 310px;
  background: url(../../assets/images/footer-puppy.png);
}

@media (max-width: 1280px) {
  .header {
    padding-top: 30px;
    background-image: url(../../assets/images/start-screen-gradient-background768.png);
    background-position: center 0px;
    background-size: cover;
  }

  .hero-img {
    display: none;
  }

  .wrapper-img {
    background-image: url(../../assets/images/start-screen-puppy-max-1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 569px;
    height: 593px;
    margin-top: 96px;
    margin-left: 140px;
  }

  .hero-wrapper {
    width: 460px;
    margin-top: -28px;
    padding-top: 0px;
  }

  .hero-container {
    min-height: 1075px;
    background-image: url(../../assets/images/start-screen-gradient-background768.png);
    background-position: center -90px;
    background-size: cover;
  }

  .hero-section {
    flex-direction: column;
    align-items: center;
  }

  .hero-button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .about-text {
    padding-top: 25px;
  }

  .about-content {
    padding-top: 65px;
  }

  .img-about-pets {
    margin-top: 30px;
    margin-left: -47px;
    margin-bottom: 50px;
  }

  .wrapper-our-friend {
    margin-top: 60px;
    width: auto;
  }

  .card:nth-child(4) {
    display: none;
  }

  .wrapper-can-help {
    padding-top: 60px;
  }

  .wrapper-can-help {
    gap: 30px;
  }

  .can-help-item {
    width: 30%;
  }

  .img-donation {
    max-width: 505px;
    width: 100%;
    height: auto;
  }

  .for-question {
    background-image: url(../../assets/images/footer-gradient-background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section-for-question {
    justify-content: space-around;
  }

  .footer-adress {
    width: 55%;
  }

  .footer-puppy {
    width: 55%;
    margin-top: 50px;
    background-repeat: no-repeat;
    margin-top: 93px;
    background-position: center;
  }
}
@media (max-width: 768px) {
  .header-burger {
    display: block;
    z-index: 3;
  }

  .nav-list {
    overflow: hidden;
    display: block;
    position: fixed;
    padding-left: 125px;
    padding-top: 134px;
    max-width: 620px;
    height: 100%;
    top: 0;
    right: 0;
    margin-left: 148px;
    background-color: #000;
    z-index: 3;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .nav-list.active-nav-list {
    transition: 0.5s;
    transform: translateX(0%);
  }

  .nav-item {
    width: 180px;
    padding-bottom: 10px;
    font-size: px;
    line-height: 35.5px;
  }

  .nav-link {
    font-size: 23px;
  }

  .hero-section {
    margin-top: 4px;
  }

  .about-title {
    padding-bottom: 50px;
  }

  .button-our-friend {
    margin-top: 56px;
  }

  .title.our-friend {
    max-width: 471px;
  }

  .card-tree {
    display: none;
  }

  .card-name {
    padding-top: 23px;
  }

  .wrapper-our-friend {
    flex-wrap: nowrap;
    gap: 10px;
  }

  .can-help-item {
    width: 27%;
  }

  .wrapper-can-help {
    justify-content: space-around;
    max-width: 630px;
    gap: 53px;
  }

  .img-donation {
    margin-top: 60px;
    margin-bottom: 2px;
  }

  .footer-adress {
    padding-top: 31px;
    margin-left: -22px;
  }
}

/*# sourceMappingURL=style.css.map */
