* {
  box-sizing: border-box;
  margin: 0 0;
}

@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/Georgia.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/arialmt.ttf);
  font-weight: 400;
}
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 60px;
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-repeat: no-repeat;
  background-position: center 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo-title-text {
  font-family: Georgia, sans-serif;
  color: #f1cdb3;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.2px;
}

.logo-title-text-text {
  font-family: Arial, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  padding-top: 10px;
  letter-spacing: 10%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 443px;
  padding-left: 0px;
}

.nav-link {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;
  text-decoration: none;
}

.hero-container {
  padding-top: 60px;
  height: 788px;
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-position: center -120px;
}

.hero-wrapper {
  margin-top: 223px;
  display: flex;
  flex-direction: column;
  width: 460px;
  height: 321px;
}

.hero-title {
  width: 310px;
  font-family: Georgia, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  line-height: 57px;
  color: #fff;
}

.hero-text {
  padding-top: 42px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;
}

.hero-section {
  display: flex;
  justify-content: space-between;
}

.hero-button {
  display: block;
  margin-top: 42px;
  margin-bottom: 0px;
  width: 207px;
  height: 52px;
  border-radius: 100px;
  font-family: Georgia, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  background-color: #f1cdb3;
  border: none;
}

.wrapper-img {
  padding-top: 0px;
  width: 698px;
  height: 728px;
  background-image: url("../../assets/images/start-screen-puppy.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.section.about-the-shelter {
  height: 588px;
  background-color: #fff;
}

.about-content {
  display: flex;
  height: 408px;
  justify-content: space-around;
  padding-top: 80px;
}

.img-about-pets {
  display: block;
  background-image: url("");
}

.about-title {
  width: 430px;
  height: 380px;
}

.title,
.about-heading {
  width: 370px;
  height: 90px;
  padding-top: 14px;
  font-family: Georgia, sans-serif;
  font-size: 35px;
  font-style: normal;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 6%;
}

.about-text {
  padding-top: 25px;
  font: Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  color: #4c4c4c;
}

.our-friend {
  max-height: 877px;
  background: #f6f6f6;
  padding: 0 30px;
}

.section-our-friend {
  height: 877px;
}

.title.our-friend {
  margin: 0 auto;
  padding-top: 135px;
  width: 412px;
  text-align: center;
}

.wrapper-our-friend {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.button-prev-next {
  margin-top: 192px;
  display: block;
  height: 52px;
  width: 52px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
}

.card {
  height: 435px;
  width: 270px;
  background-color: #fafafa;
}

.card:first-child {
  margin-left: 53px;
}

.card:last-child {
  margin-right: 53px;
}

.card-name {
  padding-top: 30px;
  text-align: center;
  font-family: Georgia, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}

.card-button {
  margin-top: 30px;
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  font-family: Georgia, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: inherit;
}

.button-our-friend {
  margin: 0 auto;
  margin-top: 60px;
  height: 52px;
  width: 261px;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  background-color: #f1cdb3;
  border: 2px solid #f1cdb3;
  color: #292929;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.section-can-help {
  height: 611px;
}

.title.can-help {
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
}

.wrapper-can-help {
  padding-top: 150px;
  max-width: 1026px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  row-gap: 55px;
  column-gap: 113px;
}

.can-help-item {
  width: auto;
  height: 113px;
  display: flex;
  flex-direction: column;
}

.can-help-text {
  padding-top: 30px;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}

.can-help-img {
  margin: 0 auto;
}

.make-donation {
  height: 464px;
  background-color: #f6f6f6;
}

.section-make-donation {
  display: flex;
  padding: 80px 0 100px 0;
}

.img-donation {
  margin: 12px 30px 11px 142px;
  margin-top: 12px;
  background-color: inherit;
}

.donation-title {
  padding-top: 0px;
}

.about-text-donation {
  font-family: Georgia;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;
  margin-top: 20px;
}

.donation-card {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  width: 349px;
  height: 43px;
  background-color: #f1cdb3;
  align-items: center;
  border-radius: 9px;
}

.number-card {
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}

.donation-text {
  padding-top: 20px;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  width: 380px;
}

/*# sourceMappingURL=style.css.map */
