* {
  box-sizing: border-box;
  margin: 0 0;
}

.header-burger {
  display: none;
  width: 30px;
  height: 22px;
  margin-right: 23px;
  position: relative;
  cursor: pointer;
}

.burger-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: 0.4s;
}

.burger-line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s;
}

.burger-line:nth-child(3) {
  bottom: 0;
  transition: 0.4s;
}

.active-burger-line:nth-child(1) {
  transition: 0.4s;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.active-burger-line:nth-child(2) {
  transition: 0.4s;
  display: none;
}

.active-burger-line:nth-child(3) {
  transition: 0.4s;
  bottom: 50%;
  transform: translateY(50%) rotate(45deg);
}

@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/Georgia.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/arialmt.ttf);
  font-weight: 400;
}
body {
  font-family: Arial, sans-serif;
  background-color: #e5e5e5;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1298px;
  width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 60px;
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-repeat: no-repeat;
  background-position: center 0;
}

.header-second {
  position: fixed;
  max-width: auto;
  width: 1280px;
  margin: 0 auto;
  padding-top: 30px;
  height: 120px;
  background-color: #fff;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo-title-text {
  font-family: Georgia, sans-serif;
  color: #f1cdb3;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.2px;
  letter-spacing: 0.06em;
}

.logo-title-text-second {
  color: #545454;
  letter-spacing: 6%;
  margin-bottom: 0px;
}

.logo-title-second {
  margin-top: -22px;
}

.logo-title-text-text {
  font-family: Arial, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  padding-top: 10px;
  letter-spacing: 0.1em;
  padding-left: 3px;
}

.logo-title-text-text-second {
  color: #545454;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 443px;
  padding-left: 0px;
}

.nav-link.nav-link-first {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 2px;
}

.nav-link-second-second {
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 2px;
}

.nav-link,
.nav-link-second,
.button-link {
  font-family: Arial, sans-serif;
  font-weight: 400, Regular;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;
  text-decoration: none;
  transition: 0.2s;
}

.nav-link:hover {
  color: #fafafa;
}

.nav-link-second {
  color: #545454;
}

.nav-link-second:hover {
  color: #292929;
}

.hero-container {
  padding-top: 60px;
  height: 791px;
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-position: center -120px;
  margin-top: -1px;
}

.hero-wrapper {
  margin-top: 136px;
  display: flex;
  flex-direction: column;
  width: 460px;
  min-height: 321px;
}

.hero-title {
  max-width: 310px;
  font-family: Georgia, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  line-height: 57px;
  color: #fff;
}

.hero-text {
  padding-top: 12px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.hero-button {
  display: block;
  margin-top: 42px;
  margin-bottom: 0px;
  width: 207px;
  height: 52px;
  border-radius: 100px;
  font-family: Georgia, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  background-color: #f1cdb3;
  border: none;
  transition: 0.2s;
  letter-spacing: 0.06em;
}

button:not([disabled]):hover,
.donation-card:hover {
  cursor: pointer;
}

.hero-button:hover,
.button-our-friend:hover,
.card-button:hover,
.button-prev-next:hover,
.donation-card:hover {
  background-color: #fddcc4;
}

.button-prev-next-second:not([disabled]):hover {
  background-color: #fddcc4;
}

.card:hover > .card-button {
  background-color: #fddcc4;
}

.wrapper-img {
  padding-top: 0px;
  max-width: 698px;
  height: 728px;
}

.hero-img {
  width: auto;
  height: auto;
}

.container.about-the-shelter,
.container.can-help {
  background-color: #fff;
}

.section.about-the-shelter {
  min-height: 588px;
  height: auto;
}

.about-content {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
  flex-wrap: wrap-reverse;
  padding-bottom: 50px;
  margin-left: 46px;
}

.img-about-pets {
  display: block;
  background-image: url("");
}

.about-title {
  width: 430px;
  height: auto;
  margin-right: 44px;
}

.title,
.about-heading {
  max-width: 370px;
  padding-top: 14px;
  font-family: Georgia, sans-serif;
  font-size: 35px;
  font-style: normal;
  line-height: 46px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 0.06em;
}

.about-text {
  padding-top: 24px;
  font: Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  color: #4c4c4c;
}

.our-friend {
  background: #f6f6f6;
  padding: 0 30px;
}

.our-friend-second {
  padding-top: 80px;
}

.section-our-friend {
  height: auto;
  min-height: 877px;
}

.section-our-friend-second {
  min-height: 1342px;
}

.title.our-friend {
  margin: 0 auto;
  padding-top: 135px;
  padding-left: 10px;
  max-width: 488px;
  text-align: center;
  letter-spacing: 10%;
}

.title.our-friend.our-friend-second {
  padding-top: 199px;
  padding-left: 33px;
}

.wrapper-our-friend {
  display: flex;
  justify-content: space-between;
  margin-top: 59px;
  flex-wrap: wrap;
}

.wrapper-our-friend-second {
  gap: 30px;
  justify-content: space-evenly;
}

.button-prev-next,
.button-prev-next-second {
  margin-top: 192px;
  display: block;
  height: 52px;
  width: 52px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  transition: 0.2s;
}

.button-next {
  margin-right: 18px;
}

.wrapper-prev-next {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 18px;
  margin-left: -21px;
}

.button-prev-next-second-disabled {
  border: 2px solid #cdcdcd;
}

.button-prev-next-second {
  margin-top: 45px;
  margin-left: 20px;
}

.button-prev-next-second-number {
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.card {
  height: 435px;
  width: 270px;
  background-color: #fafafa;
}

.card:nth-child(2) {
  margin-left: -31px;
}

.card-second:nth-child(2) {
  margin-left: 0px;
}

.card:nth-child(4) {
  margin-right: -21px;
}

.card-second:nth-child(4) {
  margin-right: 0px;
}

.card-name {
  padding-top: 25px;
  text-align: center;
  font-family: Georgia, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}

.card-button {
  margin-top: 30px;
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  font-family: Georgia, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: inherit;
  transition: 0.2s;
}

.button-our-friend {
  margin: 60px -11px 45px;
  height: 52px;
  width: 261px;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  background-color: #f1cdb3;
  border: 2px solid #f1cdb3;
  color: #292929;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.2s;
}

.section-can-help {
  min-height: 611px;
  height: auto;
}

.title.can-help {
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 6%;
}

.wrapper-can-help {
  padding-top: 58px;
  max-width: 1026px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  row-gap: 55px;
  column-gap: 113px;
  padding-bottom: 100px;
}

.can-help-item {
  width: auto;
  height: 113px;
  display: flex;
  flex-direction: column;
}

.can-help-text {
  padding-top: 30px;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}

.can-help-img {
  margin: 0 auto;
}

.make-donation {
  min-height: 464px;
  background-color: #f6f6f6;
  height: auto;
}

.section-make-donation {
  display: flex;
  padding: 80px 0 100px 0;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.img-donation {
  margin: 12px 30px 11px;
  background-color: inherit;
  margin-left: 0px;
}

.donation-title {
  padding-top: 0px;
}

.about-text-donation {
  font-family: Georgia;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;
  margin-top: 20px;
}

.donation-card {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  width: 349px;
  height: 43px;
  background-color: #f1cdb3;
  align-items: center;
  border-radius: 9px;
  transition: 0.3s;
}

.donation-href {
  text-decoration: none;
}

.number-card {
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}

.donation-text {
  padding-top: 20px;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  width: 380px;
}

.for-question {
  position: relative;
  margin-top: 1px;
  min-height: 350px;
  height: auto;
  background-image: url(../../assets/images/footer-gradient-background.jpg);
}

.title-for-question {
  color: #fff;
  padding-top: 0px;
  width: 288px;
}

.section-for-question {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -3px;
}

.section-for-question-second {
  margin-top: -4px;
}

.footer-adress {
  max-width: 293px;
  height: auto;
  padding-top: 56px;
}

.footer-adress:nth-child(2) {
  margin-left: -22px;
}

.mailto-email,
.telephon {
  text-decoration: none;
}

.e-mail,
.tel,
.adress {
  position: relative;
  margin-top: 40px;
  max-width: 251px;
  height: 32px;
  color: #f1cdb3;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  padding-left: 60px;
  vertical-align: middle;
  transition: 0.2s;
  letter-spacing: 0.06em;
}

.e-mail:hover,
.tel:hover,
.adress:hover {
  cursor: pointer;
}

.e-mail::before,
.tel::before {
  content: url(../../assets/icons/icon-email.svg);
  position: absolute;
  left: 0px;
  width: 40px;
  height: 32px;
  top: -4px;
}

.tel::before {
  content: url(../../assets/icons/icon-phone.svg);
}

p.adress:first-child {
  max-width: 302px;
  padding-left: 40px;
  margin-top: 33px;
}

p.adress.adress-second {
  padding-top: 17px;
}

.adress-link {
  text-decoration: none;
}

.adress::before {
  content: url(../../assets/icons/icon-marker.svg);
  position: absolute;
  left: 0px;
  width: 40px;
  height: 32px;
}

.footer-puppy {
  margin-top: 40px;
  width: 300px;
  height: 310px;
  background: url(../../assets/images/footer-puppy.png);
}

@media (min-width: 1280px) {
  .can-help-item:nth-child(6) {
    margin-left: 74px;
  }

  .can-help-item:nth-child(8) {
    margin-left: 10px;
  }

  .can-help-item:nth-child(9) {
    margin-right: 71px;
  }
}
@media (max-width: 1279px) {
  .header {
    padding-top: 30px;
    background-image: url(../../assets/images/start-screen-gradient-background768.png);
    background-position: center 0px;
    background-size: cover;
  }

  .hero-img {
    display: none;
  }

  .wrapper-img {
    background-image: url(../../assets/images/start-screen-puppy-max-1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 569px;
    height: 593px;
    margin-top: 96px;
    margin-left: 140px;
  }

  .hero-wrapper {
    width: 460px;
    margin-top: -28px;
    padding-top: 0px;
  }

  .hero-container {
    min-height: 1075px;
    background-image: url(../../assets/images/start-screen-gradient-background768.png);
    background-position: center -90px;
    background-size: cover;
  }

  .hero-section {
    flex-direction: column;
    align-items: center;
  }

  .hero-button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .about-text {
    padding-top: 25px;
  }

  .about-content {
    padding-top: 65px;
  }

  .img-about-pets {
    margin-top: 78px;
    margin-left: -47px;
    margin-bottom: 50px;
  }

  .title.our-friend {
    padding-top: 81px;
    padding-left: 30px;
    margin: 0 auto;
  }

  .wrapper-our-friend {
    margin-top: 60px;
    width: auto;
    gap: 8px;
  }

  .card:nth-child(4) {
    display: none;
  }

  .button-our-friend {
    left: 52%;
  }

  .wrapper-can-help {
    padding-top: 60px;
  }

  .wrapper-can-help {
    gap: 51px;
  }

  .can-help-item {
    width: 28%;
  }

  .img-donation {
    max-width: 505px;
    width: 100%;
    height: auto;
    margin: 60px 4px 11px 0px;
  }

  .donation-title {
    padding-top: 7px;
  }

  .for-question {
    background-image: url(../../assets/images/footer-gradient-background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -12px;
  }

  .section-for-question {
    justify-content: space-evenly;
    gap: 18px;
  }

  .footer-adress {
    width: 55%;
    max-width: 300px;
    padding-top: 30px;
  }

  .footer-puppy {
    width: 55%;
    margin-top: 50px;
    background-repeat: no-repeat;
    margin-top: 46px;
    background-position: center;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0px 10px;
  }

  .header {
    background-image: url(../../assets/images/start-screen-background320.jpg);
    background-position: center 0px;
    background-size: cover;
  }

  .header-container {
    justify-content: space-evenly;
    padding-left: 1px;
  }

  .hero-container {
    background-image: url(../../assets/images/start-screen-background320.jpg);
    background-position: center -90px;
    background-size: cover;
    min-height: 734px;
    height: 500px;
  }

  .hero-wrapper {
    width: 300px;
    height: auto;
    padding-top: 73px;
    justify-content: center;
  }

  .hero-title {
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
    width: 260px;
    letter-spacing: 0.06em;
    padding-left: 43px;
  }

  .hero-text {
    text-align: center;
    padding-top: 24px;
    padding-left: 0px;
  }

  .logo-title-text {
    margin-left: -10px;
  }

  .logo-title-text-text {
    letter-spacing: 0.1em;
    margin-left: -6px;
  }

  .wrapper-img {
    width: 260px;
    margin-left: 42px;
    height: 271px;
    margin-top: 105px;
  }

  .header-burger {
    display: block;
    z-index: 3;
  }

  .nav-list {
    overflow: hidden;
    display: block;
    position: fixed;
    padding-left: 125px;
    padding-top: 134px;
    max-width: 620px;
    height: 100%;
    top: 0;
    right: 0;
    margin-left: 148px;
    background-color: #000;
    z-index: 3;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .nav-list.active-nav-list {
    transition: 0.5s;
    transform: translateX(0%);
  }

  .nav-item {
    width: 180px;
    padding-bottom: 10px;
    font-size: px;
    line-height: 35.5px;
  }

  .nav-link {
    font-size: 23px;
  }

  .title.about-heading {
    margin-top: -37px;
  }

  .about-content {
    margin-left: 14px;
  }

  .about-title {
    padding-bottom: 50px;
    margin-right: 15px;
  }

  .about-text {
    padding-top: 23px;
    text-align: justify;
  }

  .button-our-friend {
    margin-top: 41px;
  }

  .img-about-pets {
    width: 260px;
    height: auto;
    margin-top: -8px;
    margin-bottom: -9px;
    margin-left: -11px;
  }

  .section-our-friend {
    min-height: 791px;
  }

  .title.our-friend {
    width: 300px;
    padding-top: 42px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .card {
    margin-top: -15px;
  }

  .card-tree {
    display: none;
  }

  .card-name {
    padding-top: 23px;
  }

  .card:nth-child(3) {
    display: none;
  }

  .wrapper-our-friend {
    margin-top: 60px;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }

  .section-can-help {
    height: px;
  }

  .title.can-help {
    padding-top: 39px;
  }

  .can-help-img {
    transform: scale(0.8);
  }

  .can-help-text {
    font-size: 15px;
    line-height: 16.5px;
    padding-top: 20px;
  }

  .wrapper-can-help {
    gap: 20px;
  }

  .img-donation {
    margin-top: 12px;
    margin-bottom: 2px;
    transform: scale(0.9);
  }

  .section-make-donation {
    padding: 99px 0px 100px;
  }

  .about-text-donation {
    letter-spacing: normal;
    text-align: center;
  }

  .section-for-question {
    gap: 8px;
  }

  .donation-card {
    margin-top: 25px;
    width: 281px;
    justify-content: space-evenly;
  }

  .number-card {
    text-align: center;
    font-size: 15px;
    line-height: 16.5px;
  }

  .donation-text {
    text-align: center;
    width: 280px;
    margin: auto;
    letter-spacing: 0.06em;
  }

  .footer-adress {
    padding-top: 72px;
    margin-top: -57px;
  }

  .title-for-question {
    padding-top: 81px;
    width: 270px;
    text-align: center;
  }

  .footer-adress {
    width: 278px;
    text-align: center;
  }

  .e-mail,
.tel {
    padding-left: 73px;
    margin-top: 45px;
    height: 27px;
    max-width: 264px;
  }

  .e-mail::before,
.tel::before {
    left: 13px;
  }

  .adress {
    padding-left: 22px;
  }

  .adress::before {
    left: -19px;
    top: 10px;
  }

  .adress-second {
    padding-top: 18px;
    padding-left: 5px;
  }

  .footer-puppy {
    width: 260px;
    height: 269px;
    background-size: contain;
    margin-top: 47px;
  }
}
@media (max-width: 415px) {
  .wrapper-our-friend {
    flex-wrap: wrap;
  }

  .button-prev-next {
    order: 5;
    margin-top: 10px;
    margin-left: 58px;
  }

  .button-next {
    margin-right: 57px;
  }
}
@media (max-width: 320px) {
  .make-donation {
    height: 551.2px;
  }

  .title,
.about-heading {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    margin-top: -65px;
  }

  .section-can-help {
    height: 745px;
  }

  .can-help-item {
    width: 38%;
  }

  .can-help-item:nth-child(7) {
    margin-left: 14px;
  }

  .can-help-item:nth-child(8) {
    width: 41%;
    margin-left: 26px;
  }

  .can-help-item:nth-child(9) {
    margin-right: 154px;
  }

  .wrapper-can-help {
    justify-content: space-around;
    max-width: 630px;
    gap: 3px;
    padding-top: 36px;
    margin-left: -4px;
  }
}

/*# sourceMappingURL=style.css.map */
